---
# roles/check-duplicate-ip/tasks/main.yml

- name: Coletar informações de status do ESXi no vCenter
  community.vmware.vmware_host_facts:
    hostname: "{{ lookup('env', 'VMWARE_HOST') }}"
    username: "{{ lookup('env', 'VMWARE_USER') }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
    validate_certs: no
    esxi_hostname: "tpsp1esx3n00046.tpsp1infra.local" 
  register: host_info
  delegate_to: localhost

- name: "DUMP: Exibir a estrutura completa retornada pelo modulo"
  ansible.builtin.debug:
    var: host_info